.body{
  background-clip: content-box;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat
}

.msgInput{
  font-family: Arial;
  height: 70%;
  flex : 1;
  padding: 5px;
  resize: none;
  border: none;
  outline: none;
}

.msgLeft{
  width: clamp(50px, auto, 230px);
  align-self: flex-start;
  max-width: 285px;
  text-align: start;
  margin: 5px 10px;
  word-break: line-break;
  font-size: 14.5px;
  word-break: break-word;
  align-items: flex-end;
  display: flex;
  gap: 6px;
  
  .msgTextLeft{
    background-color: #2c1e55; 
    border-radius: 20px 20px 20px 5px;
    padding: 8px 12px;
    white-space: pre-line;
  }
}

.msgRight{
  width: clamp(50px, auto, 230px);
  align-self: flex-end;
  align-items: flex-end;
  max-width: 250px;
  margin: 5px 10px;
  word-break: line-break;
  font-size: 14.5px;
  word-break: break-word;
  display: flex;
  
  .msgTextRight{
    padding: 8px 12px;
    background-color: #6a69fe;
    border-radius: 20px 20px 5px 20px;
    text-align: start;
    white-space: pre-line;
  }
}

.day{
  font-size: 10px;
  color: darkgray;
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 2px;
}

.emoPicker{
  .EmojiPickerReact{
    .epr-search-container{
      input{
        color: red;
      }
    }
    
    .epr-emoji-category-label{
      background-color: red;
    }
  }
  animation: sizer 1s;
}

@keyframes sizer{
  from{
    opacity: 0;
  }
  
  to{
    opacity: 1;
  }
}

.red_recording{
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: #ff4141;
  outline: 2px solid #ff4141;
  outline-offset: 2px;
  animation: red_pointer 2s infinite alternate;
}

@keyframes red_pointer{
  from{
    opacity: 1;
  }
  to{
    opacity: 3;
  }
}

.sender{
  animation: slide 2s;
}

@keyframes slide{
  100%{
    width: 85%;
  }
}
