.blur{
  top: 0;
  position: fixed;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  z-index: 20000000000000000;
  user-select: none;
  
  .msgBox{
    position: relative;
    text-align: center;
    height: auto;
    //border: 1px solid #262626;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: column;
    width: 300px;
    border-radius: 25px;
    min-height: 200px;
    background-color: #1d1d1d;
    word-break: break-word;
    animation: confirm 0.2s;
    overflow: hidden;
    
    .input{
      padding: 10px;
      width: 80%;
      border-radius: 9px;
      border: 1px solid #262626;
      outline: none;
      transition: 0.2s;
      background-color: transparent;
      margin-top: 20px;
      color: white;
      
      &:focus{
        outline: 2px solid white;
        outline-offset: 2px;
      }
    }
    
    .buttonsDiv{ 
      border: none;
      justify-content: space-evenly;
      width: 90%;
      margin-bottom: 5px;
      gap: 10px;
      
      .btn{
        border: none;
        background-color: #262626;
        padding: 10px;
        flex: 1;
        color: white;
        font-weight: bold;
        transition: 0.2s;
        height: 100%;
        border-radius: 50px;
        
        &:active{
          transform: scale(0.98);
          opacity: 0.6;
        }
      }
    }
  }
}

@keyframes confirm{
  from{
    opacity: 0.3;
    transform: scale(0.85);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
