.bounse{
  animation: sizer 0.3s ease-in;
}

@keyframes sizer{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.fade{
  animation: fade 0.2s;
}

@keyframes fade{
  from{
    opacity: 1;
    bottom: -500px;
  }
  to{
    opacity: 0.5;
    bottom: 5px;
  }
}