.body{
  display: flex; 
  align-items: center; 
  flex-direction: column;
  color: #f0f0f0;
  animation: bottomSizer 0.3s ease-in-out;
  width: 100dvw;
  height: 100dvh;
  z-index: 100000000000;
  position: fixed;
  bottom: 0;
  background-color: black;
  
  .post{
    min-height: 90px;
    width: 80%; 
    border: none;
    border-left: 2px solid #262626;
    position: relative;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding: 0 0 0 10px;
    
    .user{
      display: flex;
      align-items: center;
      position: absolute;
      left: -25px;
      top: -20px;
      gap: 5px;
      border: none;
    }
    
    .userIcon{
      padding: 12px;
      border-radius: 50px;
      background-color: #1d1d1d;
      border: 5px solid #0f0f0f;
    }
    
    .textarea{
      min-height: 5px;
      background-color: transparent;
      border: none;
      resize: none;
      font-family: Arial;
      padding: 10px;
      color: white;
      margin-top: 20px;
      outline: none;
    }
    
    .contentDiv{
      position: absolute;
      display: flex;
      align-items: center;
      gap: 10px;
      bottom: -10px;
      left: -16px;
      background-color: #0f0f0f;
      justify-content: space-between;
      border: none;
      z-index: 1000;
      transition: 0.2s;
    }
  }
  
  .mediaDiv{
    width: 87%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    
    .media{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px; 
      z-index: 0;
      
      .inputImage{
        position: absolute;
        width: 85%;
        opacity: 0;
      }
      
      .subMedia{
        display: flex;
        align-items: center;
        gap: 15px;
      }
      
      .small{
        color: darkgray;
      }
    }
    
    .postImg{
      object-fit: cover; 
      border-radius: 15px;
      border: 1px solid #1d1d1d;
      height: 100px;
      width: 100px;
    }
  }
  
  .postButton{
    width: 87%; 
    padding: 5px 10px;
    border: none;
    background-color: #6a69fe;
    color: white;
    border-radius: 6px;
    margin-top: 50px;
    transition: 0.2s;
    
    &:active{
      transform: scale(0.99);
      opacity: 0.6;
    }
  }
}

.cateBlur{
  height: 100dvh;
  width: 100dvw; 
  background-color: rgba(140,140,140,0.3);
  top: 0;
  position: fixed;
  z-index: 5000000;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .box{
    height: 500px;
    width: 300px;
    padding: 10px;
    background-color: #1d1d1d;
    border: 1px solid #262626;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    .h3{
      color: #6a69fe;
      font-size: 20px;
      padding: 5px;
    }
    
    .cateList{
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      padding: 10px 0;
      width: 95%;
      
      .cate{
        padding: 10px 15px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &:active{
          background-color: rgba(99,99,99,0.26);
          border-radius: 10px;
        }
        
        .actualCate{
          height: 10px;
          width: 10px;
          border-radius: 50px;
          background-color: #6a69fe;
          outline: 2px solid #6a69fe;
          outline-offset: 2px;
        }
      }
    }
    
    .closeB{
      width: 95%;
      padding: 10px;
      border-radius: 50px;
      background-color: transparent;
      border: none;
      background-color: #262625;
      color: #6a69fe;
      font-weight: bold;
      margin: 6px 0;
      margin-top: 20px;
      transition: 0.2s;
      
      &:active{
        opacity: 0.7;
        transform: scale(0.98);
      }
    }
  }
}

@keyframes bottomSizer{
  from{
    opacity: 0;
    bottom: -400px;
    overflow: hidden;
  }
  
  to{
    opacity: 1;
    bottom: 0;
    overflow: hidden;
  }
}

.removeBody{
  animation: bottomSizerRemove 0.3s ease-in-out;
}

@keyframes bottomSizerRemove{
  from{
    opacity: 1;
    bottom: 0;
    overflow: hidden;
  }
  
  to{
    opacity: 0;
    bottom: -900px;
    overflow: hidden;
  }
}

.emopicker{
  animation: sizer2 0.3s;
}

@keyframes sizer2 {
  from{
    bottom: -400px;
  }
  to{
    bottom: 0;
  }
}