.footer{
  bottom: 0; 
  display: flex;
  width: 100%;
  justify-content: space-evenly; 
  align-items: center;
  padding: 10px 0;
  border: none; 
  border-top: 1px solid #101010;
  color: darkgray;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: #0b0b0b;
}