@import "tailwindcss";

body {
  background: #0a0a0a;
  color: white;
  font-family: Arial;
  user-select: none;
}

body::webkit-scrollbar{
  display: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

#__next {
  height: 100%;
  overflow: hidden;
}