.loader{
  animation: spin 0.8s linear infinite;
  height: 15px;
  width: 15px;
  border: 2px solid #333333;
  border-top-color: white;
  border-radius: 100px;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}