.body{
  height: 100%;
  top: 0;
  position: fixed;
  animation: login 0.3s;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0f0f0f;
  padding: 50px 0;
  padding-top: 100px;
  
  .close{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    top: 30px;
    left: 30px;
    position: fixed;
  }
  
  .h1{
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .inpDiv{
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    
    .input{
      padding: 10px 15px;
      border-radius: 50px;
      width: 100%;
      background-color: #1b1b1b;
      outline: none;
      border: 1px solid transparent;
      transition: 0.3s;
      
      &:focus{
        border: 1px solid #6a69fe;
      }
    }
    
    .label{
      margin-left: 10px;
      font-weight: bold;
      padding: 10px 0;
    }
  }
  
  .loginB{
    margin-top: 30px;
    border-radius: 50px;
    width: 100%;
    padding: 10px 0;
    background-color: #6a69fe;
  }
  
  .psswD{
    width: 100%;
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .eye{
      position: absolute;
      right: 13px;
      padding: 3px;
    }
  }
}

@keyframes login{
  from{
    left: 100%;
  }
  to{
    left: 0;
  }
}