.optionsDiv{
  animation: sizer 0.3s ease;
}

@keyframes sizer {
  from{
    overflow: hidden;
    transform: scale(0.60); 
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.optionsDivRem{
  animation: sizerRem 0.3s ease;
}

@keyframes sizerRem {
  from{
    opacity: 1;
    transform: scale(1);
  }
  to{
    opacity: 0;
    overflow: hidden;
    transform: scale(0); 
  }
}