.popUp{
  animation: bottomAnim 0.1s ease-in-out;
}

@keyframes bottomAnim{
  from{
    opacity: 0;
    height: 30%;
  }
  to{
    opacity: 1;
    height: 98%;
  }
}

.removePopUp{
  animation: bottomAnimRemove 0.1s ease-in-out;
}

@keyframes bottomAnimRemove{
  from{
    opacity: 1;
    height: 98%;
  }
  to{
    opacity: 0;
    height: 30%;
  }
}