.trans{
  animation: sizer 0.2s ease-in;
}

@keyframes sizer{
  from{
    opacity: 0;
    bottom: -500px;
  }
  to{
    opacity: 1;
    bottom: 5px;
  }
}

.trans_sheet{
  animation: sizer_sheet 0.2s ease-in;
  transition: transform 0.1s ease;
  will-change: transform;
  touch-action: none;
}

@keyframes sizer_sheet{
  from{
    opacity: 0;
    bottom: -500px;
  }
  to{
    opacity: 1;
    bottom: 5px;
  }
}

.fade{
  animation: fade 1s alternate infinite ease-in;
}

@keyframes fade{
  from{
    opacity: 1;
  }
  to{
    opacity: 0.3;
  }
}

.trans2{
  animation: sizer2 0.2s;
}

@keyframes sizer2{
  from{
    opacity: 0;
    bottom: -500px;
  }
  to{
    opacity: 1;
    bottom: 0;
  }
}

.trans3{
  animation: sizer3 0.3s ease-in;
}

@keyframes sizer3{
  from{
    opacity: 0;
    bottom: -300px;
  }
  to{
    opacity: 1;
    bottom: 10px;
  }
}

.width{
  animation: widther 0.1s linear;
}

@keyframes widther{
  from{
    transform: scale(0.6);
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.toast_trans{
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn{
  from{
    opacity: 0;
    transform: scale(0.80);
    bottom: -10px;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}

.toast_trans_remove{
  animation: slideOut 0.3s ease-in;
}

@keyframes slideOut{
  from{
    transform: scale(1);
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: scale(0.80);
    bottom: -10px;
  }
}

.trans4{
  animation: confirm 0.1s;
}

@keyframes confirm{
  from{
    opacity: 0.3;
    transform: scale(0.85);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.scale{
  animation: scale 0.3s;
}

@keyframes scale{
  from{
    transform: scale(.9);
  }
  to{
    transform: scale(1);
  }
}

.width_scale{
  animation: width_scale 0.3s ease;
}

@keyframes width_scale{
  from{
    opacity: .2;
    transform: scale(.9);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.height_scale{
  animation: height_scale 0.3s ease;
}

@keyframes height_scale{
  from{
    opacity: .2;
    transform: scale(.9);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}